<!-- dashboard.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>

<body>
  <h1>Benvenuto <%= userid %>
  </h1>
  <p>Nome: <%= name %>
  </p>
  <p>Email: <%= email %>
  </p>
  <p>Foto del profilo:</p>
  <img src="<%= picture %>" alt="Foto del profilo di <%= name %>">
</body>

</html>